$cBorder: rgba($color: #535353, $alpha: .5);

.edit__form-item{
  margin-bottom: 20px;
}

.edit__form-name{
  font-size: 15px;
}

.edit__form-img{
  font-size: 12px;
}

.edit__form-label{
  font-size: 15px;
  color: $cBorder;
}

.edit__form-select{
  width: 100%;
  font-size: 12px;
  padding: 3px;
}

.btn-wrap{
  position: relative;
  border: 1px solid black;
  width: 60px;
  padding: 3px 0;
  overflow: hidden;
  &:hover::before{
    transform: none;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: -1;
  }
}

.edit__form-btn{
  display: block;
  font-size: 15px;
  background-color: unset;
  border: none;
  width: 100%;

  &:hover{
    color: white;
  }
}