
#error_explanation {
  color: red;
  width: 50%;
  margin: 0 auto;
  & h2{
    font-size: 25px;
    font-weight: bold;
  }
  & ul li{
    font-size: 12px;
    list-style: circle;
    margin-bottom: 5px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.error-alert{
  color: red;
}