<footer>
  <div class="container" id="footer-article">
    <div class="footer-article d-flex justify-content-around mt-4">
      <div class="article-country">
        <h5>生産国</h5>
        <nav class="d-md-flex mt-3 mt-md-0">
          <ul class="mr-3">
            <li data-toggle="modal" data-target="#exampleModal">フランス</li>
            <li data-toggle="modal" data-target="#exampleModal2">イタリア</li>
            <li data-toggle="modal" data-target="#exampleModal3">スペイン</li>
            <li data-toggle="modal" data-target="#exampleModal4">アメリカ</li>
            <li data-toggle="modal" data-target="#exampleModal5">チリ</li>
          </ul>
          <ul>
            <li data-toggle="modal" data-target="#exampleModal6">オーストラリア</li>
            <li data-toggle="modal" data-target="#exampleModal7">ニュージーランド</li>
            <li data-toggle="modal" data-target="#exampleModal8">日本</li>
            <li data-toggle="modal" data-target="#exampleModal9">南アフリカ</li>
            <li data-toggle="modal" data-target="#exampleModal10">アルゼンチン</li>
          </ul>
        </nav>
      </div>
      <div class="article-grape">
        <h5>ぶどう品種</h5>
        <div class="d-md-flex mt-3 mt-md-0">
          <nav class="mr-4">
            <h6>白ぶどう</h6>
            <ul>
              <li data-toggle="modal" data-target="#exampleModal11">シャルドネ</li>
              <li data-toggle="modal" data-target="#exampleModal12">ソーヴィニヨン・ブラン</li>
              <li data-toggle="modal" data-target="#exampleModal13">リースリング</li>
              <li data-toggle="modal" data-target="#exampleModal14">ヴィオニエ</li>
              <li data-toggle="modal" data-target="#exampleModal15">甲州</li>
              <li data-toggle="modal" data-target="#exampleModal16">ゲヴェルツトラミネール</li>
              <li data-toggle="modal" data-target="#exampleModal17">ピノ・グリ</li>
            </ul>
          </nav>
          <nav>
            <h6>黒ぶどう</h6>
            <ul>
              <li data-toggle="modal" data-target="#exampleModal18">カベルネ・ソーヴィニヨン</li>
              <li data-toggle="modal" data-target="#exampleModal19">メルロ</li>
              <li data-toggle="modal" data-target="#exampleModal20">ピノ・ノワール</li>
              <li data-toggle="modal" data-target="#exampleModal21">シラー</li>
              <li data-toggle="modal" data-target="#exampleModal22">マルベック</li>
              <li data-toggle="modal" data-target="#exampleModal23">サンジョベーゼ</li>
              <li data-toggle="modal" data-target="#exampleModal24">テンプラニーリョ</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-logo d-flex justify-content-center mt-3">
    <h4>Tasting Note</h1>
    <%= image_tag "/assets/top.logo.jpeg", class:"footer-img" %>
  </div>
</footer>