  <header>
    <div class="container pt-3">
      <%= link_to root_path, class:'text-decoration-none' do %>
        <div class="d-flex justify-content-center">
          <h1>Tasting Note</h1>
          <%= image_tag "/assets/top.logo.jpeg", class:'header-img'%>
        </div>
      <% end %>
    </div>
  </header>
