  <footer>
    <%= link_to root_path, class:'text-decoration-none' do %>
      <div class="footer-logo d-flex justify-content-center mt-3">
        <h4>Tasting Note</h1>
        <%= image_tag "/assets/top.logo.jpeg", class:"footer-img" %>
      </div>
    <% end %>
  </footer>