  <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">シャルドネ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>シャルドネの特徴は<strong>「特徴がないこと」</strong>なんてよく言われますが、その魅力は汎用性にあります。<br>
          栽培地域の気候や醸造法、生産者の思想によって味わい、香りの特徴が大きく異なります。<br>
          主な生産地域としてはブルゴーニュ、シャンパーニュ地方、カリフォルニアなどが挙げられます。ブルゴーニュ地方を例にすれば、より冷涼な地域であるシャブリで造られるシャルドネには柑橘類の香りやキレの良い酸味が備わり、より南に位置するコート・ドールで造られるシャルドネからは芳醇で、まろやかな酸味を持つワインが生まれます。<br>
          このようにシャルドネは<strong>非常に多くの顔を持つ</strong>ため、一流のテイスターでもブラインドでシャルドネと特定することは難しいと言われています。<br>
          香りや味わいを分析し、生産地域を絞り込むことはテイスティングの根幹ともいえます。目の前にあるシャルドネにはどんな特徴が見受けられますか。感じ取った特徴からどんな場所で造られたワインなのか想像してみましょう。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ソーヴィニヨン・ブラン</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>ソーヴィニヨン・ブランはフランスの<strong>ボルドー地方が原産の白ぶどうです。</strong><br>
          現在は世界中のワイン産地で栽培されており、その多くが爽やかな印象を持つ、辛口白ワインとなります。<br>
          近年ではニュージーランドのマールボロ産のソーヴィニヨン・ブランが大きな注目を集めています。主な生産地域はボルドー、ロワール、ニュージーランド、南アフリカなど。<br>
          香りの特徴としては<strong>グリーンノートと呼ばれる清涼感なある緑の香り</strong>や、シトラスフルーツ、トロピカルフルーツのような熟したフルーツの香りなど。<br>
          味わいはキレの良い酸味が特徴的で、鼻をスッと抜けていくような爽やかな香りと相まって、とてもスリムな印象を受けます。<br>
          やや冷やすことでその特徴を最大限に活かすことができ、魚料理やチーズがよく合うとされています。ボルドーでは牡蠣がよく獲れるため、現地では牡蠣に合わせてソーヴィニヨン・ブランが飲まれます。<br>
          ミネラルたっぷりな牡蠣にレモンを絞り、後味の苦味をソーヴィニヨン・ブランの清涼感で洗い流す...なんて想像するだけでよだれが垂れてきませんか。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">リースリング</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>リースリングは、ドイツやフランス北東部のアルザス地方で主に栽培されている白ぶどう品種。<br>
          その特徴はなんといっても<strong>クリスプで繊細な酸</strong>と、その酸味を活かした<strong>甘口から辛口まで多彩な種類のワインが造られるバラエティの豊かさ</strong>です。<br>
          甘口ワインにおいては酸味がぼんやりしていると、味わいにおいてもったりとした印象を与えてしまうため、リースリングのような繊細でキレのある酸味があることで、甘さを支え、引き立てることができます。<br>
          また、リースリングは<strong>アロマティック品種</strong>とも言われ、ぶどう自体がもつ香りがとても華やかであるため、醸造過程において香り付などが一切行われず、品種の持つ個性が前面に出たワインが生まれます。<br>
          香りの特徴は主に、洋梨や白桃など蜜を感じるフルーツ。近年では辛口嗜好が強いため辛口に仕立てた、スリムな印象を受けるリースリングが主流。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ヴィオニエ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>ヴィオニエは主にフランス南部のコート・デュ・ローヌ地方で栽培される白ぶどう品種。ローヌ以外ではオーストラリア、ニュージーランド、南アフリカなどでも栽培されている。<br>
          ヴィオニエからは比較的色も味わいも<strong>濃厚で凝縮感のある</strong>ワインが生み出されるが、特徴は芳香性に富んでいることが挙げられる。<br>
          桃、洋梨、花梨といったトロピカルフルーツや、すみれのような花な香りなど、芳醇で濃密な印象を受けます。味わいはフルーティーで比較的まろやかな味わいに仕上げられることが多い。
          <br>香り高く、フルーティーな特徴を持つヴィオニエは、辛味の効いた料理によく合うため、タイ料理や、メキシカンフードに合わせるのも良い。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">甲州</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>甲州は<strong>山梨県固有の白ぶどう品種</strong>です。<br>
          2010年に日本固有のぶどうとして初めて、国際ぶどうに品種登録され、その注目度は年々上がっています。日本以外では唯一ドイツで栽培されています。<br>
          <strong>淡い色調に、グレープフルーツ、吟醸香</strong>の香りが特徴とされ、味わいもどこか日本酒のニュアンスかあります。<br>
          酸味は控えめでニュートラルなワインが造られます。甲州ワインのそのほとんどは山梨県で生産されており、メルシャン勝沼ワイナリーの「甲州きいろ香」というワインは世界的に有名なワイン評論家であるロバート・パーカーからも高い評価を受けています。<br>
          日本生まれのワインだけあって日本食にもよく合い、魚介の刺身や塩焼き煮物といった物は特に相性が良いです</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ゲヴェルツトラミネール</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>ゲヴェルツトラミネールはドイツ語で香辛料の意味をもつGewurzと、イタリアのトレンティーノ・アルト・アディジェ州のTramin村からくるTraminerを名前の由来に持つ。<br>
          主な栽培地域はアルザス、ドイツ、オーストリアなど。特徴的な香りとして<strong>ライチ</strong>、次に<strong>白薔薇</strong>が挙げられる。<br>
          <strong>非常にアロマティックで上品</strong>な香りを持ち、リースリング、ピノ・グリと共にアルザスを代表するアロマティック品種として人気が高い。<br>
          通常は引き締まった辛口に仕上げられ、その味わいはキメの細かい酸味と甘やかな香りが調和し、洗練された印象を受けます。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal17" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ピノ・グリ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>ピノ・グリはピノ・ノワールの突然変異体であるとされ、通常は灰青色の果実を実らせることからその名前が付けられました。<br>
          イタリアではピノ・グリージョ、ドイツではグラウブルグンダーという名で親しまれています。原産地はブルゴーニュであるが、主な栽培地域はアルザスやイタリア北部など。<br>
          香りの特徴は<strong>メロンやマンゴー</strong>といった熟したトロピカルフルーツ、ガーベラ、アカシアといった黄色い花など。<br>
          総じて<strong>芳香豊かで濃密</strong>な印象があります。スパイシーでふくよかなタイプのワインから、酸を活かしたライトなスタイルのワインまで幅広い。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
