  <div class="modal fade" id="exampleModal18" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">カベルネ・ソーヴィニヨン</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>カベルネ・ソーヴィニヨンは世界で最も栽培面積が広いとされる品種のひとつであり、ほぼ全ての主要なワイン産出国で生産されている。原産地はフランスのボルドー。晩熟型のぶどうとされ、収穫時期までに時間をかけるため、それだけ凝縮感のあるぶどうが生まれる。特に有名な産地としてはボルドー、トスカーナ、ナパヴァレー、ソノマ、オーストラリアなど。ボルドーの5大シャトーは今や言わずと知れた高級ワインです。一般的にカベルネ・ソーヴィニヨンからなるワインはフルボディで、渋み、酸味共に豊富な骨格のがっちりとした物が多い。そのため長期熟成にも向いており、木樽熟成によって身に着いた様々な香りは複雑な印象を与えます。品種香としては冷涼地域では黒すぐりのような香り、温暖地域ではブラックチェリーや熟したプラムのような香りが特徴となる。また、カベルネ・ソーヴィニヨンの最も特徴的な香りとして挙げられるのがハーブ、ピーマンのようなグリーンノート。これはピラジンという物質によるもので、ぶどうが未熟の際により多く存在する。そのため、冷涼地域のカベルネ・ソーヴィニヨンにはこのグリーンノートが顕著に現れる傾向にある。科学的根拠は認められていないが、オーストラリアの畑にはユーカリが生えていることから、ユーカリのような樹脂の香りがするとも言われている。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal19" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">メルロ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>メルロはフランスのボルドーを原産地とする品種であり、カベルネ・ソーヴィニヨン同様に数多くのワイン産出国で栽培されている。早熟タイプのぶどうとされ、冷涼な気候でも完熟することができるため、産地を選ばずに栽培することができる。特に有名な産地としてはボルドー、チリなど。ボルドーブレンドと言われる、ボルドーの代表的なカベルネ・ソーヴィニヨンやカベルネ・フランとブレンドしてワインにされることも多い。香りはプルーンのような熟した黒い果実の香りがすると言われ、フルーツフォーワードな印象が見受けられる。味わいとしては酸味、渋み共にそこまで強くなく、芳醇でまろやかな味わいが特徴。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal20" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ピノ・ノワール</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>ピノ・ノワールは主に赤ワイン用に栽培されるぶどう品種であり、フランス語でマツを意味するpinと黒のnoirが名称の由来とされている。世界各地で栽培されているが、そのほとんどは冷涼な気候の地域であり、フランスのブルゴーニュ、シャンパーニュ、カリフォルニアなどで特に多く栽培されている。世界各地で赤ワインに用いられている他、シャンパーニュやイタリアのフランチャコルタ、イギリスのスパークリングワインにも使用されている。栽培、醸造共に困難な品種とされる。果皮が薄くフェノール化合物の含有量が少ないことから、多くの場合は淡い色調と渋みが控えめなミディアムボディのワインとなる。香りの特徴はチェリーやラズベリー、イチゴなどの赤い果実。また年月を経るにつれて、すみれやバラのような花の香りや甘草のようなグリーンノートも加ることで複雑が増す。味わいとしては非常に繊細で官能的な印象があり、すっきりとした酸味がやや丸みのある甘みを引き締めることで調和を生み出している。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal21" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">シラー</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>シラーはフランスのコート・デュ・ローヌ地方を原産地とする赤ワイン用ぶどう品種であり、オーストラリアではシラーズと呼ばれる。主な生産地域はコート・デュ・ローヌ、ラングドック・ルシヨンといった南フランスやオーストラリアなど、温暖な地域で栽培されるのが主流であるため、その焼けつくような強い日差しを浴びて育ったぶどうから造られるワインはチョコレートのような甘く香ばしい香りを持ち、アルコール度数の高い、男性的で力強いものになる。香りの特徴として、ダークチェリーのような熟した黒い果実と、黒胡椒のようなスパイシーさがあり、味わいは酸味、渋みともに豊かで、とても骨太で重厚な印象を受けます。重厚感のある味わいの中にも、すっと鼻を抜けていくようなスパイシーな香りの心地よさがあります。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">マルベック</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>マルベックはフランス南西地方を原産とする赤ワイン用品種である。主な栽培地域はアルゼンチン。当地の気候風土との相性が非常によく、今やアルゼンチンを代表する品種として世界的に有名になりつつある。香りの特徴としては熟したプルーンやプラムなど。フルーツフォーワードな印象が強い。味わいは穏やかな酸味と、収斂性の高い渋みを持ち、凝縮感が強い。ボリューム感の強いアルコールとまろやかな酸味に豊富な渋みが加わることで、男性的でぐっと力強い印象となる。フルーティーな香りに始まり、味わいの前半では丸みのあるなめらかな舌触りから大きな広がりを感じ、最後には力強い渋みが全体をまとめ、重厚感だけではない調和の取れたワインとなります。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal23" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">サンジョベーゼ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>サンジョベーゼはイタリアのトスカーナ州を中心に栽培されている赤ワイン用ぶどう品種です。イタリアで最もポピュラーなぶどう品種であり、他にも南北アメリカ大陸でも栽培されています。イタリア原産のぶどう品種の中では唯一国際的な品種になっています。香りはブルーベリー、カシスのような若い果実から、よく熟したタイプであればプラムやプルーンなど、凝縮感、コクのあるのワインとなる。またすみれのようなフローラルな香りも持ち合わせ、非常に華やかで洗練された印象を受けます。味わいとしては酸味、渋みともに豊かであり、それゆえ長期熟成にも耐えうるため、長期熟成させることで、スパイスやスモークの香りが加わり、奥行きのあるワインが生まれます。フルーティーで華やかな香り、味わいで始まり、中盤にはキメの細かい酸味が全体のバランスを引き締めます。非常にエレガントな印象でそれでいてどこか厳しさのあるサンジョベーゼは中高年代からの人気が高く、キャンティ、キャンティクラシコは日本でも有名です。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal24" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">テンプラニーリョ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>テンプラニーリョ、またはテンプラニージョは、主にスペイン、イベリア半島で栽培されている赤ワイン用ぶどう品種。スペイン内でも地域によって呼称は様々。お隣の国のポルトガルでもティンタ・ロリスとして古くから栽培されています。テンプラニーリョの特徴は品種香が比較的控えめなことにあり、それ故樽の香りが用意にワインに移るため、オーク樽を用いた長期間の熟成が行われます。一般的にプラムやイチゴの香りを持つとされ、また特徴的な香りとしては樹脂のような香りが挙げられます。そこに樽由来のヴァニラ、レザーといった熟成行が重なることで複雑さが増します。味わいとしては非常に骨格のしっかりとした印象があります。前半には丸みのある舌触りと、やや甘みを感じるアルコール感、酸味は比較的まろやかであるため広がりを感じることができ、最後に掴むような渋みが全体をぐっと引き締めます。ジビエ料理のように個性の強いお料理に合わせても負けない力強さと、その力強さを引き立てる香りの複雑性がとても魅力的です。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
