<div class="home">
  <%# ヘッダーここから %>
  <header>
    <div class="container pt-3">
      <div class="d-flex justify-content-center">
        <h1>Tasting Note</h1>
        <img src="/assets/top.logo.jpeg" alt="Tasting Note ロゴ">
      </div>
      <nav>
        <ul class="d-flex justify-content-between mt-5">
          <li>Tasting Note</li>
          <li>カテゴリー</li>
          <li><a href="#footer-article" class="text-decoration-none text-dark">記事</a></li>
          <li><%= link_to '会員登録', new_user_registration_path, class:'text-decoration-none text-dark' %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'text-decoration-none text-dark' %></li>
        </ul>
      </nav>
    </div>
  </header>
  <%# ヘッダーここまで %>

  <%# メインここから %>
  <div class="main-wrapper mt-5">
    <div class="container image-box">
      <img src="/assets/vineyard.jpg" alt="見出し画像" class="img-fluid">
      <div class="image-box-text">
        <p>How to use tasting note</p>
        <p>Click here <i class="far fa-hand-pointer"></i></p>
      </div>
    </div>
  </div>
  <%# メインここまで %>

  <%# セカンドここから %>
  <div class="second-wrapper">
    <div class="container mt-5 py-5 border-top border-bottom">
      <h2 class="text-center mb-3">Notes</h2>
      <div class="items-space">
      </div>
      <a href="#" class="text-center d-block text-decoration-none text-dark mt-3">VIEW ALL</a>
    </div>
  </div>
  <%# セカンドここまで %>

  <%# フッターここから %>
  <footer>
    <div class="container" id="footer-article">
      <div class="footer-article d-flex justify-content-around mt-4">
        <div class="article-country">
          <h5>生産国</h5>
          <nav class="d-md-flex">
            <ul class="mr-3">
              <li>フランス</li>
              <li>イタリア</li>
              <li>スペイン</li>
              <li>アメリカ</li>
              <li>チリ</li>
            </ul>
            <ul>
              <li>オーストラリア</li>
              <li>ニュージーランド</li>
              <li>日本</li>
              <li>南アフリカ</li>
              <li>アルゼンチン</li>
            </ul>
          </nav>
        </div>
        <div class="article-grape">
          <h5>ぶどう品種</h5>
          <div class="d-md-flex">
            <nav class="mr-4">
              <h6>白ぶどう</h6>
              <ul>
                <li>シャルドネ</li>
                <li>ソーヴィニヨン・ブラン</li>
                <li>リースリング</li>
                <li>ヴィオニエ</li>
                <li>甲州</li>
                <li>ゲヴェルツトラミネール</li>
                <li>ピノ・グリ</li>
              </ul>
            </nav>
            <nav>
              <h6>黒ぶどう</h6>
              <ul>
                <li>カベルネ・ソーヴィニヨン</li>
                <li>メルロ</li>
                <li>ピノ・ノワール</li>
                <li>シラー</li>
                <li>マルベック</li>
                <li>サンジョベーゼ</li>
                <li>テンプラニーリョ</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-logo d-flex justify-content-center mt-3">
      <h4>Tasting Note</h1>
      <img src="/assets/top.logo.jpeg" alt="Tasting Note ロゴ">
    </div>
  </footer>
  <%# フッターここまで %>
</div>