$cAwesome:  'Dancing Script', cursive;

.registration-wrapper{
  font-family: $cAwesome;
  position: relative;
  width: 95%;
  margin: 10px auto;
  padding: 20px 0;
  box-shadow: inset 0 0 30px rgba($color: #000000, $alpha: .3);

  & .registration-form{
    border-radius: 3px;
    width: 50%;
    margin: 20px auto;
    padding: 0 50px 30px;
    font-weight: 600;

    & h2{
      font-size: 35px;
      font-weight: bold;
      padding: 20px 0;
    }

    & .form-box{
      width: 100%;
      padding: 5px;
      font-size: 12px;
    }

    & .form-label{
      font-size: 25px;
    }
  }
  & .register-btn{
    outline: unset;
    background-color: unset;
    border: 1px solid black;
    border-radius: 3px;
    background-color:white;
    padding: 5px 15px;
    box-shadow: 0 3px 0 rgba($color: #000000, $alpha: .9);

    &:active{
      position: relative;
      box-shadow: none;
      top: 3px;
    }
  }
}

.registration-bg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .3;
}